<div class="blogpost-item">
    <div class="blogpost-image">
        <img src="../../assets/test.jpg">
      </div>    
  <div class="blogpost-heading">
    <h2>Blogpost header</h2>
  </div>
  <div class="blogpost-footer">
      <ul>
        <li>Author: Ivo Petrov</li>
        <li>May 18, 2019</li>
        <li>9 Comments</li>
      </ul>
    </div>
  <div class="blogpost-summary">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
      Ex a quibusdam dolorem id praesentium necessitatibus iusto 
      dolor similique, quo accusantium impedit quos recusandae ullam non? 
      Corrupti hic nihil maxime dolorum?</p>
  </div>
  <div class="blogpost-widget">
    <button>Continue reading</button>
    <div class="share">
        <span>Share</span>
        <nav>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-google"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>
        </nav>
      </div>
  </div>
</div>
